extends layout
block content
    h1= title
    - let items = results;
    div(class="container-fluid")
      div(class="row m-1")
       - let kr = `dispatch(\"/tea/create")`
       button.btn( class="btn-primary ml-1", onclick= kr) create
       each item in items
        - let destination = `dispatch(\"/tea/update?id=${item._id}\")`
        - let kr_delete = `dispatch(\"/tea/delete?id=${item._id}\")`
        - let kr_detail = `dispatch(\"/tea/detail?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") Item #{item.tea_flavour}(#{item.tea_size}) is #{item.tea_cost}
          button.btn( class="btn-info ml-1", onclick= destination) Update
          button.btn( class="btn-danger ml-1", onclick= kr_delete) delete
          button.btn( class="btn-warning ml-1", onclick= kr_detail) detail 
        script.
            function dispatch(path){
            window.location.href=path
            }